---
import Layout from "../layouts/layout.astro";
import data from "../data.json";

const member = data.crew[0];
---

<Layout title="Crew">

  <div class="grid-container grid-container--crew flow">
    <h1 class="numbered-title"><span aria-hidden="true">02</span>  Meet your crew</h1>

    <div class="dot-indicators flex">
      <button aria-selected="true" class=""><span class="sr-only">The commander</span></button>
      <button aria-selected="false" class=""><span class="sr-only">The mission specialist</span></button>
      <button aria-selected="false" class=""><span class="sr-only">The pilot</span></button>
      <button aria-selected="false" class=""><span class="sr-only">The crew engineer</span></button>
    </div>

    <article class="crew-details flow">
      <h2 class="ff-600 ff-serif uppercase">{member.role}</h2>
      <p class="ff-serif uppercase fs-700">{member.name}</p>
      <p class="text-accent">{member.bio}</p>
    </article>

    <img src={member.images.png} alt={member.name}>

  </div>
  

</Layout>