---
export interface Props {
  member: object;
};
  
import Layout from "../layouts/layout.astro";
import data from "../data.json";

const member = Astro.props.member;
---

<Layout title="Crew" bodyClass="crew">

  <div class="grid-container grid-container--crew flow">
    <h1 class="numbered-title"><span aria-hidden="true">02</span>  Meet your crew</h1>

    <nav class="dot-indicators flex">
      {data.crew.map(m => (
        <a 
         href={`/crew/${m.name.toLowerCase().replace(' ', '-')}`}
         aria-selected={m.name == member.name ? "true" : "false"}>
          <span class="sr-only">{m.role}</span>
        </a>
      ))}
    </nav>

    <article class="crew-details flow">
      <h2 class="ff-600 ff-serif uppercase">{member.role}</h2>
      <p class="ff-serif uppercase fs-700">{member.name}</p>
      <p class="text-accent">{member.bio}</p>
    </article>

    <picture>
      <source srcset={member.images.webp} type="image/webp">
      <img src={member.images.png} alt={member.name}>
    </picture>

  </div>
  

</Layout>