---
export interface Props {
  tech: object;
};
  
import Layout from "../layouts/layout.astro";
import data from "../data.json";

const tech = Astro.props.tech;
---

<Layout title="Technology" bodyClass="technology">
  <div class="grid-container grid-container--technology flow">
    <h1 class="numbered-title"><span>03</span> Space Launch 101</h1>

    <nav class="numbered-indicators flex">
      {data.technology.map((t, i) => (
        <a
          href={'/technology/' + t.name.toLowerCase().replace(" ", "-")}
          aria-current={t.name == tech.name ? "page" : null}
          class="fs-600 ff-serif text-white">
          {i + 1}</a>
      ))}
    </nav>

    <article class="technology-details flow">
      <h2 class="fs-700 ff-serif uppercase flow">
        <span class="fs-300 ff-sans-cond text-accent letter-spacing-3 d-block">The Terminology...</span>
        <span class="d-block">{tech.name}</span>
      </h2>
      <p class="text-accent ff-400">{tech.description}</p>
    </article>

    <picture>
      <source media="(min-width: 45em)" srcset={tech.images.portrait}>
      <img src={tech.images.landscape} alt={tech.name}>
    </picture>
  </div>
</Layout>